/* Button */
.btn {
  width: fit-content;
  padding: 0.625rem 0.75rem;
}

.btn:hover {
  opacity: 0.9;
}

.btn-primary {
  color: var(--color-white);
  background-color: var(--color-dark);
}

.btn-download {
  color: var(--color-white);
  background-color: var(--color-green);
}

.btn-download:hover {
  box-shadow: 0 0 8px color-mix(in srgb, var(--color-green) 50%, transparent);
}

.btn-span {
  color: var(--color-white);
}
